@media screen and (max-width: 568px) {
  .title.is-1 {
    font-size: 2rem;
  }

  .form {
    width: 100%;
  }
}

@media screen and (min-width: 1088px) {
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    color: #a27adb !important;
  }

  .navbar-item.has-dropdown:hover .navbar-link:after {
    border-color: #a27adb !important;
  }
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    padding: 0px !important;
  }

  .navbar-item {
    margin-right: 0px !important;
  }

  .navbar-link:hover {
    color: #4a4a4a !important;
    cursor: default;
  }

  .navbar-end {
    right: 0;
    top: unset;
  }
}
