node_modules
.DS_Store
.vs
.vscode
.mypy_cache
__pycache__

.gitsecret/keys/random_seed
.circleci/deploy-api.sh
.circleci/deploy-app.sh
.circleci/ansible/templates/nginx-ssl.j2
.circleci/ansible/templates/pm2.j2
.circleci/ansible/host.yml
.circleci/ansible/index.yml

api/src/config/secret.key
api/aws/matcha-api.pem
api/config.development.js
api/config.production.js
api/database/config/index.json

app/build
app/config.production.js