node_modules
.DS_Store
.vs/
.vscode/
.mypy_cache/
resources/
**/npm-debug.log
**/package-lock.json
**/yarn.lock
**/yarn-error.log
**/__pycache__
.gitsecret/keys/random_seed

api/src/config/secret.key
api/aws/matcha-api.pem
api/config.development.js
api/config.production.js
api/database/config/index.json

app/build
app/aws/index.json
app/config.production.js