node_modules
.DS_Store
.vs/
.vscode/
.mypy_cache/
resources
api/src/config/secret.key
api/aws
**/build
**/npm-debug.log
**/package-lock.json
**/yarn.lock
**/yarn-error.log
**/config.development.js
**/config.test.js
**/__pycache__