@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jmg18q');
  src:  url('fonts/icomoon.eot?jmg18q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jmg18q') format('truetype'),
    url('fonts/icomoon.woff?jmg18q') format('woff'),
    url('fonts/icomoon.svg?jmg18q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-matcha:before {
  content: "\e900";
  color: #f60;
}
.icon-setting:before {
  content: "\f013";
  font-size: 25px;
}
